In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_excel('cars_test.xlsx')

In [4]:
df.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                 10
Power                  10
Seats                  11
New_Price            1052
dtype: int64

In [5]:
del df['New_Price']

In [6]:
df=df.dropna(axis=0,how='any')

In [7]:
df.isnull().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
dtype: int64

In [8]:
df.shape

(1223, 11)

In [9]:
len(set(df['Year']))

20

In [10]:
year_list=list(set(list(df['Year'])))

In [11]:
print(year_list)

[2016, 2017, 2018, 2019, 1996, 2000, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]

In [12]:
year_list=sorted(year_list)

In [13]:
print(year_list)

[1996, 2000, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [14]:
year_number=[int(i) for i in range(1,len(year_list)+1)]
print(year_number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [15]:
year_dict=dict(zip(year_list,year_number))

In [16]:
print(year_dict)

{1996: 1, 2000: 2, 2002: 3, 2003: 4, 2004: 5, 2005: 6, 2006: 7, 2007: 8, 2008: 9, 2009: 10, 2010: 11, 2011: 12, 2012: 13, 2013: 14, 2014: 15, 2015: 16, 2016: 17, 2017: 18, 2018: 19, 2019: 20}

In [17]:
replaced_years=[]
for year in list(df['Year']):
    replaced_years.append(year_dict[year])

In [18]:
print(replaced_years[:10])

[15, 14, 18, 13, 15, 17, 16, 14, 12, 16]

In [19]:
engine_list=list(df['Engine'])
for i in range(len(engine_list)):
    engine_list[i]=float(engine_list[i][:-3])
print(engine_list)

[998.0, 796.0, 2393.0, 1364.0, 1197.0, 2179.0, 2982.0, 814.0, 1497.0, 2179.0, 1968.0, 1197.0, 1794.0, 1248.0, 1598.0, 1995.0, 1995.0, 1399.0, 1197.0, 1298.0, 1248.0, 1198.0, 796.0, 1799.0, 1299.0, 796.0, 1498.0, 1498.0, 1197.0, 1364.0, 1598.0, 1086.0, 2835.0, 1248.0, 1197.0, 1598.0, 1591.0, 2494.0, 1995.0, 1248.0, 1968.0, 1968.0, 1598.0, 1248.0, 1373.0, 1373.0, 2143.0, 2494.0, 1995.0, 796.0, 1498.0, 2953.0, 1968.0, 1591.0, 2179.0, 1248.0, 1364.0, 1396.0, 1497.0, 1798.0, 1197.0, 1197.0, 1498.0, 998.0, 1199.0, 2179.0, 1498.0, 998.0, 1198.0, 1373.0, 1086.0, 1196.0, 1199.0, 1086.0, 1199.0, 1461.0, 2494.0, 1197.0, 1373.0, 1995.0, 2487.0, 1364.0, 1582.0, 1498.0, 2496.0, 1197.0, 1368.0, 1399.0, 1197.0, 1596.0, 1595.0, 1197.0, 1248.0, 1086.0, 1197.0, 2354.0, 1198.0, 998.0, 1582.0, 1396.0, 624.0, 1995.0, 1498.0, 1199.0, 1248.0, 1968.0, 1498.0, 1498.0, 1197.0, 1995.0, 1198.0, 2143.0, 1198.0, 1197.0, 1591.0, 1197.0, 2993.0, 1248.0, 1498.0, 1373.0, 1248.0, 1364.0, 1995.0, 936.0, 1968.0, 2987.0, 1995.0, 1197.0, 1197.0, 1364.0, 1198.0, 1197.0, 998.0, 1799.0, 796.0, 1999.0, 1396.0, 999.0, 1198.0, 1248.0, 1399.0, 1598.0, 1399.0, 1368.0, 1799.0, 2000.0, 998.0, 1197.0, 1498.0, 1598.0, 1493.0, 1498.0, 2179.0, 1197.0, 1120.0, 814.0, 2143.0, 2987.0, 1498.0, 998.0, 1248.0, 2179.0, 1591.0, 1497.0, 2987.0, 1197.0, 3498.0, 1498.0, 2143.0, 1496.0, 1405.0, 1798.0, 796.0, 1896.0, 998.0, 1461.0, 1198.0, 1197.0, 2143.0, 1598.0, 1498.0, 796.0, 2143.0, 1497.0, 2967.0, 1086.0, 1248.0, 1493.0, 1968.0, 1995.0, 1405.0, 624.0, 2993.0, 1198.0, 796.0, 1197.0, 1995.0, 1461.0, 1248.0, 1248.0, 1497.0, 2993.0, 1995.0, 1995.0, 936.0, 2143.0, 796.0, 1461.0, 1598.0, 1968.0, 1368.0, 1582.0, 1197.0, 1198.0, 1498.0, 2477.0, 1197.0, 1248.0, 1461.0, 1582.0, 1248.0, 2494.0, 1948.0, 1968.0, 1172.0, 1797.0, 1199.0, 1197.0, 1197.0, 2179.0, 1373.0, 1196.0, 1598.0, 1582.0, 2179.0, 2179.0, 2498.0, 1248.0, 1086.0, 1373.0, 1061.0, 1197.0, 796.0, 1197.0, 1364.0, 1198.0, 1086.0, 1197.0, 1591.0, 1399.0, 2179.0, 998.0, 1968.0, 1461.0, 2498.0, 2494.0, 1298.0, 1598.0, 1364.0, 1999.0, 796.0, 1150.0, 1498.0, 1248.0, 2494.0, 2143.0, 1495.0, 1968.0, 2499.0, 2498.0, 1396.0, 1799.0, 1498.0, 2143.0, 1798.0, 1498.0, 1796.0, 796.0, 1248.0, 1498.0, 1968.0, 2982.0, 2362.0, 1197.0, 1591.0, 1497.0, 1497.0, 1461.0, 2987.0, 814.0, 2494.0, 1248.0, 2967.0, 1497.0, 998.0, 1396.0, 1995.0, 2143.0, 1199.0, 998.0, 2179.0, 1497.0, 2494.0, 1197.0, 998.0, 2494.0, 1461.0, 1582.0, 2494.0, 2143.0, 1197.0, 2354.0, 2393.0, 1396.0, 1461.0, 1196.0, 1798.0, 1798.0, 1595.0, 1396.0, 2354.0, 2354.0, 2523.0, 1248.0, 1798.0, 1198.0, 1598.0, 1248.0, 1497.0, 1595.0, 1196.0, 2494.0, 1197.0, 1198.0, 5998.0, 1497.0, 1197.0, 1497.0, 2755.0, 1405.0, 1198.0, 1199.0, 1198.0, 1197.0, 1199.0, 2354.0, 2498.0, 2179.0, 2494.0, 1396.0, 1248.0, 1497.0, 1248.0, 1199.0, 1199.0, 998.0, 1582.0, 1968.0, 1995.0, 2953.0, 1197.0, 1248.0, 1497.0, 1796.0, 2400.0, 2982.0, 2349.0, 1086.0, 2993.0, 1396.0, 1968.0, 1197.0, 1197.0, 1248.0, 1196.0, 2982.0, 1995.0, 1197.0, 1197.0, 1968.0, 1197.0, 2494.0, 1248.0, 1248.0, 998.0, 1591.0, 1896.0, 1197.0, 796.0, 1248.0, 1198.0, 1794.0, 1248.0, 1968.0, 995.0, 1493.0, 1373.0, 1968.0, 1998.0, 1598.0, 1197.0, 1197.0, 1461.0, 2498.0, 1498.0, 1498.0, 2179.0, 1496.0, 2349.0, 1198.0, 2494.0, 1998.0, 1582.0, 1498.0, 2993.0, 1498.0, 1248.0, 1198.0, 1197.0, 999.0, 1248.0, 796.0, 1248.0, 2354.0, 1199.0, 1248.0, 2143.0, 2498.0, 1198.0, 2179.0, 1248.0, 998.0, 1498.0, 1498.0, 999.0, 1248.0, 1198.0, 2477.0, 2143.0, 1248.0, 1495.0, 1968.0, 1497.0, 1995.0, 999.0, 2523.0, 1582.0, 624.0, 1199.0, 1968.0, 2999.0, 2143.0, 2179.0, 2143.0, 2179.0, 1498.0, 1795.0, 2354.0, 1498.0, 2982.0, 1198.0, 2179.0, 1496.0, 1248.0, 1199.0, 1197.0, 1595.0, 1984.0, 1896.0, 1582.0, 2993.0, 2987.0, 1399.0, 1968.0, 1396.0, 2494.0, 998.0, 1591.0, 1497.0, 1995.0, 998.0, 1798.0, 1968.0, 814.0, 1198.0, 1598.0, 1495.0, 2523.0, 793.0, 1120.0, 1341.0, 2494.0, 1186.0, 1968.0, 1499.0, 1998.0, 1497.0, 1197.0, 1248.0, 1198.0, 1248.0, 1991.0, 799.0, 1968.0, 1399.0, 1298.0, 2143.0, 995.0, 1197.0, 1199.0, 1497.0, 2494.0, 1991.0, 1598.0, 1248.0, 1197.0, 1497.0, 998.0, 998.0, 1172.0, 1497.0, 1598.0, 1586.0, 796.0, 2179.0, 1197.0, 2497.0, 1248.0, 998.0, 1248.0, 1199.0, 1582.0, 1497.0, 1197.0, 998.0, 2494.0, 2494.0, 1396.0, 1396.0, 1199.0, 1591.0, 1197.0, 1582.0, 1498.0, 2494.0, 1968.0, 1598.0, 2993.0, 1198.0, 1461.0, 1497.0, 998.0, 1061.0, 1493.0, 1086.0, 814.0, 2179.0, 1968.0, 1461.0, 2494.0, 1497.0, 1248.0, 1461.0, 1197.0, 1956.0, 1461.0, 998.0, 1498.0, 1198.0, 1399.0, 1968.0, 2498.0, 998.0, 1199.0, 1999.0, 1998.0, 2179.0, 1197.0, 1461.0, 1591.0, 1582.0, 796.0, 1461.0, 1248.0, 1248.0, 998.0, 1798.0, 1496.0, 2143.0, 1086.0, 1598.0, 1498.0, 1198.0, 2354.0, 1497.0, 2143.0, 999.0, 2143.0, 1995.0, 2987.0, 2982.0, 2143.0, 1498.0, 1248.0, 1498.0, 1798.0, 1197.0, 1199.0, 1582.0, 2982.0, 2987.0, 1498.0, 998.0, 1498.0, 2755.0, 2143.0, 2143.0, 1248.0, 1199.0, 1198.0, 1396.0, 1341.0, 936.0, 1968.0, 1197.0, 1248.0, 2477.0, 2982.0, 2400.0, 1582.0, 2143.0, 1498.0, 1461.0, 814.0, 2400.0, 998.0, 2143.0, 1197.0, 1968.0, 2993.0, 2179.0, 999.0, 1248.0, 2179.0, 1197.0, 1461.0, 1248.0, 814.0, 1198.0, 1968.0, 1197.0, 1598.0, 1197.0, 1498.0, 2494.0, 1984.0, 1248.0, 2835.0, 796.0, 1995.0, 1396.0, 1582.0, 796.0, 1493.0, 1197.0, 1498.0, 1995.0, 1798.0, 1198.0, 1197.0, 1086.0, 1968.0, 1461.0, 1498.0, 1498.0, 1198.0, 1950.0, 2987.0, 1495.0, 1298.0, 1197.0, 1198.0, 1248.0, 1198.0, 1197.0, 1461.0, 1086.0, 1198.0, 2953.0, 1172.0, 2179.0, 1995.0, 1498.0, 1405.0, 796.0, 1399.0, 1399.0, 1199.0, 1186.0, 1498.0, 1197.0, 2982.0, 1582.0, 814.0, 1499.0, 1197.0, 1582.0, 1798.0, 1248.0, 1199.0, 1399.0, 1497.0, 1498.0, 2967.0, 1198.0, 1968.0, 2179.0, 1493.0, 1498.0, 796.0, 1461.0, 998.0, 1198.0, 1498.0, 2982.0, 1248.0, 796.0, 998.0, 1198.0, 1248.0, 2755.0, 1462.0, 998.0, 1248.0, 1248.0, 1461.0, 814.0, 1198.0, 1388.0, 1497.0, 1198.0, 998.0, 1582.0, 2354.0, 998.0, 1998.0, 1197.0, 624.0, 1499.0, 1405.0, 1896.0, 2477.0, 1496.0, 1197.0, 1197.0, 1197.0, 1197.0, 2494.0, 1586.0, 1497.0, 1197.0, 998.0, 1396.0, 2393.0, 1248.0, 2494.0, 1493.0, 2179.0, 1968.0, 2982.0, 2494.0, 2179.0, 1591.0, 1396.0, 1968.0, 1197.0, 796.0, 799.0, 1197.0, 1197.0, 998.0, 1396.0, 2400.0, 1461.0, 1497.0, 1298.0, 1582.0, 1248.0, 1199.0, 1199.0, 1198.0, 1248.0, 1197.0, 799.0, 1968.0, 1197.0, 796.0, 1997.0, 1368.0, 624.0, 1995.0, 998.0, 2982.0, 1199.0, 1799.0, 2993.0, 2179.0, 1797.0, 1798.0, 796.0, 1498.0, 796.0, 1198.0, 1198.0, 1197.0, 3696.0, 1968.0, 1197.0, 1582.0, 2993.0, 998.0, 1396.0, 1496.0, 1991.0, 1498.0, 1968.0, 1198.0, 1399.0, 1995.0, 1498.0, 2179.0, 1498.0, 1984.0, 1197.0, 1196.0, 1248.0, 2982.0, 1248.0, 814.0, 1198.0, 1197.0, 1086.0, 2143.0, 998.0, 1493.0, 1248.0, 1197.0, 1405.0, 2446.0, 1197.0, 1498.0, 1248.0, 1198.0, 1197.0, 2198.0, 1197.0, 1197.0, 2179.0, 998.0, 1248.0, 1968.0, 1373.0, 1498.0, 1364.0, 2179.0, 1991.0, 814.0, 1248.0, 1364.0, 998.0, 1499.0, 1461.0, 1197.0, 2489.0, 2354.0, 1248.0, 1582.0, 1368.0, 999.0, 2993.0, 1197.0, 2987.0, 2494.0, 2354.0, 998.0, 1396.0, 1197.0, 1497.0, 1198.0, 1495.0, 2499.0, 1497.0, 1248.0, 1498.0, 1373.0, 2477.0, 2147.0, 1196.0, 1598.0, 1298.0, 1498.0, 1197.0, 1598.0, 1896.0, 1198.0, 998.0, 1248.0, 1582.0, 998.0, 796.0, 799.0, 1498.0, 1498.0, 2143.0, 2359.0, 995.0, 1199.0, 1197.0, 1197.0, 998.0, 2354.0, 1591.0, 2143.0, 1199.0, 2498.0, 2359.0, 1396.0, 2494.0, 796.0, 1197.0, 2996.0, 1396.0, 2982.0, 2179.0, 2987.0, 1199.0, 1995.0, 1498.0, 1586.0, 1396.0, 1120.0, 1461.0, 1461.0, 1298.0, 1498.0, 2967.0, 1796.0, 2494.0, 1896.0, 2523.0, 1197.0, 1497.0, 1186.0, 1396.0, 1248.0, 796.0, 2497.0, 1248.0, 1461.0, 1991.0, 998.0, 1086.0, 1199.0, 2523.0, 2993.0, 1497.0, 1197.0, 2494.0, 2495.0, 1197.0, 2477.0, 1373.0, 1968.0, 1248.0, 2982.0, 1086.0, 1493.0, 2148.0, 1248.0, 1197.0, 1248.0, 2393.0, 1496.0, 1364.0, 1186.0, 1248.0, 1968.0, 1198.0, 1197.0, 2179.0, 2143.0, 1396.0, 1198.0, 1968.0, 1197.0, 1199.0, 1120.0, 1399.0, 2494.0, 1396.0, 2143.0, 1582.0, 995.0, 1396.0, 1248.0, 1197.0, 1086.0, 1498.0, 1399.0, 1582.0, 1591.0, 1497.0, 1197.0, 1497.0, 1497.0, 1596.0, 1197.0, 1794.0, 1461.0, 796.0, 1248.0, 1248.0, 2179.0, 1461.0, 1197.0, 1461.0, 998.0, 4395.0, 1497.0, 1396.0, 1198.0, 1498.0, 2143.0, 1798.0, 1799.0, 1582.0, 1984.0, 1389.0, 2982.0, 1591.0, 1498.0, 1197.0, 1968.0, 1120.0, 1968.0, 2993.0, 1248.0, 1197.0, 1498.0, 1197.0, 1199.0, 1248.0, 998.0, 1248.0, 1197.0, 1197.0, 1968.0, 1120.0, 1582.0, 1796.0, 1248.0, 1496.0, 1086.0, 1197.0, 2967.0, 1497.0, 1198.0, 2498.0, 1199.0, 2179.0, 2755.0, 998.0, 796.0, 1799.0, 936.0, 2498.0, 1193.0, 814.0, 2696.0, 1582.0, 1248.0, 1399.0, 1968.0, 1396.0, 1968.0, 2179.0, 1995.0, 1991.0, 1497.0, 1248.0, 2494.0, 1248.0, 1797.0, 1461.0, 2967.0, 1298.0, 1956.0, 1497.0, 1248.0, 1197.0, 1248.0, 1199.0, 1998.0, 2477.0, 1497.0, 814.0, 995.0, 796.0, 1794.0, 1197.0, 1396.0, 1399.0, 1368.0, 2179.0, 1248.0, 1197.0, 1582.0, 1086.0, 1396.0, 1991.0, 2179.0, 1968.0, 1199.0, 2143.0, 1591.0, 2143.0, 2979.0, 2179.0, 1591.0, 1197.0, 1998.0, 1984.0, 1461.0, 1198.0, 2494.0, 796.0, 1798.0, 1373.0, 1968.0, 1248.0, 2143.0, 1197.0, 2143.0, 1497.0, 796.0, 2982.0, 1995.0, 1197.0, 1498.0, 1896.0, 2987.0, 814.0, 998.0, 1493.0, 1591.0, 1197.0, 1590.0, 1498.0, 1598.0, 1086.0, 1956.0, 1461.0, 1298.0, 796.0, 624.0, 1086.0, 796.0, 1399.0, 2993.0, 1498.0, 1248.0, 1197.0, 1197.0, 1197.0, 1995.0, 2143.0, 2494.0, 1248.0, 998.0, 1995.0, 1248.0, 1599.0, 1497.0, 1248.0, 1396.0, 1968.0, 2993.0, 1591.0, 1248.0, 1388.0, 1248.0, 1497.0, 998.0, 1991.0, 1198.0, 1798.0, 1086.0, 1461.0, 1047.0, 1598.0, 1197.0, 1497.0, 1368.0, 1968.0, 1591.0, 1248.0, 1197.0, 1498.0, 1968.0, 1198.0, 1498.0, 2993.0, 1197.0, 1461.0, 1399.0, 1198.0, 1197.0, 814.0, 1598.0, 1197.0, 1461.0, 1197.0, 2148.0]

In [20]:
power_list=list(df['Power'])
invalid_power_indices=[]
for i in range(len(power_list)):
    try:
        power_list[i]=float(power_list[i][:-4])
    except:
        invalid_power_indices.append(i)
print(power_list[:50])

[58.2, 47.3, 147.8, 'null bhp', 82.85, 140.0, 168.7, 55.2, 118.0, 140.0, 167.6, 82.0, 125.0, 75.0, 102.5, 184.0, 184.0, 68.0, 81.8, 85.8, 73.94, 75.0, 47.3, 132.0, 70.0, 46.3, 98.6, 103.52, 80.0, 67.06, 103.6, 68.05, 107.2, 74.0, 85.8, 103.52, 121.3, 102.0, 190.0, 74.0, 174.33, 140.0, 103.52, 88.5, 91.1, 91.1, 136.0, 100.6, 184.0, 47.3]

In [21]:
print(invalid_power_indices)

[3, 73, 121, 142, 190, 196, 258, 366, 408, 419, 425, 434, 554, 569, 603, 670, 696, 863, 868, 918, 1062, 1115]

In [22]:
seats_list=list(df['Seats'])
for i in range(len(seats_list)):
    seats_list[i]=float(seats_list[i])
print(seats_list[:10])

[4.0, 5.0, 7.0, 5.0, 5.0, 7.0, 7.0, 5.0, 5.0, 7.0]

In [23]:
mileage_list=list(df['Mileage'])
for i in range(len(mileage_list)):
    mileage_list[i]=float(mileage_list[i][:-6])
print(mileage_list[:10])

[32.26, 24.0, 13.6, 23.5, 18.0, 16.0, 12.5, 21.0, 17.0, 15.0]

In [24]:
kilometers_list=list(df['Kilometers_Driven'])
for i in range(len(kilometers_list)):
    kilometers_list[i]=float(kilometers_list[i])
print(kilometers_list[:10])

[40929.0, 54493.0, 34000.0, 139000.0, 29000.0, 85609.0, 59000.0, 65000.0, 66000.0, 54684.0]

In [26]:
print(len(replaced_years))
print(len(kilometers_list))
print(len(mileage_list))
print(len(seats_list))
print(len(power_list))
print(len(engine_list))

1223
1223
1223
1223
1223
1223

In [27]:
location_list=list(df['Location'])
fuel_type_list=list(df['Fuel_Type'])
transmission_list=list(df['Transmission'])
owner_type_list=list(df['Owner_Type'])

In [28]:
print(len(location_list))
print(len(fuel_type_list))
print(len(transmission_list))
print(len(owner_type_list))

1223
1223
1223
1223

In [29]:
print(len(invalid_power_indices))

22

In [30]:
new_replaced_years=[replaced_years[i] for i in range(len(replaced_years)) if i not in invalid_power_indices]

In [31]:
print(len(new_replaced_years))

1201

In [32]:
new_kilometers_list=[kilometers_list[i] for i in range(len(kilometers_list)) if i not in invalid_power_indices]
new_mileage_list=[mileage_list[i] for i in range(len(mileage_list)) if i not in invalid_power_indices]
new_seats_list=[seats_list[i] for i in range(len(seats_list)) if i not in invalid_power_indices]
new_power_list=[power_list[i] for i in range(len(power_list)) if i not in invalid_power_indices]
new_engine_list=[engine_list[i] for i in range(len(engine_list)) if i not in invalid_power_indices]
new_location_list=[location_list[i] for i in range(len(location_list)) if i not in invalid_power_indices]
new_fuel_type_list=[fuel_type_list[i] for i in range(len(fuel_type_list)) if i not in invalid_power_indices]
new_transmission_list=[transmission_list[i] for i in range(len(transmission_list)) if i not in invalid_power_indices]
new_owner_type_list=[owner_type_list[i] for i in range(len(owner_type_list)) if i not in invalid_power_indices]

In [33]:
new_dataframe=pd.DataFrame(list(zip(new_replaced_years,
                                   new_kilometers_list,new_mileage_list,
                                    new_seats_list,new_power_list,
                                    new_engine_list,new_location_list,
                                    new_fuel_type_list,new_transmission_list,
                                    
                                   new_owner_type_list
                                   )),columns =['Year','Kilometers','Mileage',
                                               'Seats','Power','Engine','Location',
                                               'Fuel Type','Transmission','Owner'])

In [34]:
new_dataframe.head()

,Year,Kilometers,Mileage,Seats,Power,Engine,Location,Fuel Type,Transmission,Owner
0,15,40929.0,32.26,4.0,58.20,998.0,Delhi,CNG,Manual,First
1,14,54493.0,24.00,5.0,47.30,796.0,Coimbatore,Petrol,Manual,Second
2,18,34000.0,13.60,7.0,147.80,2393.0,Mumbai,Diesel,Manual,First
3,15,29000.0,18.00,5.0,82.85,1197.0,Mumbai,Petrol,Manual,First
4,17,85609.0,16.00,7.0,140.00,2179.0,Coimbatore,Diesel,Manual,Second

In [35]:
new_dataframe.to_csv('modified_car_prices_test.csv', header=False, index=False)

In [36]:
location_set=list(set(list(new_dataframe['Location'])))
fuel_type_set=list(set(list(new_dataframe['Fuel Type'])))
transmission_set=list(set(list(new_dataframe['Transmission'])))
owner_set=list(set(list(new_dataframe['Owner'])))

In [37]:
for location in location_set:
    new_dataframe[location]=0

In [38]:
for fuel in fuel_type_set:
    new_dataframe[fuel]=0
for transmission in transmission_set:
    new_dataframe[transmission]=0
for owner in owner_set:
    new_dataframe[owner]=0

In [39]:
new_dataframe.head()

,Year,Kilometers,Mileage,Seats,Power,Engine,Location,Fuel Type,Transmission,Owner,...,Diesel,CNG,Petrol,LPG,Automatic,Manual,Third,Fourth & Above,First,Second
0,15,40929.0,32.26,4.0,58.20,998.0,Delhi,CNG,Manual,First,...,0,0,0,0,0,0,0,0,0,0
1,14,54493.0,24.00,5.0,47.30,796.0,Coimbatore,Petrol,Manual,Second,...,0,0,0,0,0,0,0,0,0,0
2,18,34000.0,13.60,7.0,147.80,2393.0,Mumbai,Diesel,Manual,First,...,0,0,0,0,0,0,0,0,0,0
3,15,29000.0,18.00,5.0,82.85,1197.0,Mumbai,Petrol,Manual,First,...,0,0,0,0,0,0,0,0,0,0
4,17,85609.0,16.00,7.0,140.00,2179.0,Coimbatore,Diesel,Manual,Second,...,0,0,0,0,0,0,0,0,0,0

In [40]:
for i in range(len(new_dataframe)):
    new_dataframe.loc[i,new_dataframe.loc[i, "Location"]]=1
for i in range(len(new_dataframe)):
    new_dataframe.loc[i,new_dataframe.loc[i, "Fuel Type"]]=1
for i in range(len(new_dataframe)):
    new_dataframe.loc[i,new_dataframe.loc[i, "Transmission"]]=1
for i in range(len(new_dataframe)):
    new_dataframe.loc[i,new_dataframe.loc[i, "Owner"]]=1

In [41]:
new_dataframe.head()

,Year,Kilometers,Mileage,Seats,Power,Engine,Location,Fuel Type,Transmission,Owner,...,Diesel,CNG,Petrol,LPG,Automatic,Manual,Third,Fourth & Above,First,Second
0,15,40929.0,32.26,4.0,58.20,998.0,Delhi,CNG,Manual,First,...,0,1,0,0,0,1,0,0,1,0
1,14,54493.0,24.00,5.0,47.30,796.0,Coimbatore,Petrol,Manual,Second,...,0,0,1,0,0,1,0,0,0,1
2,18,34000.0,13.60,7.0,147.80,2393.0,Mumbai,Diesel,Manual,First,...,1,0,0,0,0,1,0,0,1,0
3,15,29000.0,18.00,5.0,82.85,1197.0,Mumbai,Petrol,Manual,First,...,0,0,1,0,0,1,0,0,1,0
4,17,85609.0,16.00,7.0,140.00,2179.0,Coimbatore,Diesel,Manual,Second,...,1,0,0,0,0,1,0,0,0,1

In [42]:
del new_dataframe['Location']
del new_dataframe['Fuel Type']
del new_dataframe['Transmission']
del new_dataframe['Owner']

In [43]:
x=new_dataframe[['Year','Kilometers','Mileage','Seats','Power','Engine',
                'Pune','Mumbai','Delhi','Ahmedabad','Jaipur','Kochi','Chennai',
                'Bangalore','Kolkata','Hyderabad','Coimbatore','Diesel','Petrol',
                'CNG','LPG','Automatic','Manual','Second','Third','Fourth & Above',
                'First']]

In [45]:
import pickle
infile = open('CarPricePrediction.pkl','rb')
regressor = pickle.load(infile)
infile.close()

In [46]:
y_pred = regressor.predict(x)

In [48]:
#These are the predicted prices
print(y_pred)

[ 1.74  2.96 16.95 ...  2.85  3.4  14.4 ]